@mixin flex-formatting($direction, $align, $justify, $isWrap: false) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;

    @if isWrap {
        flex-wrap: wrap;
    }
}

.template-infos {
    background-color: var(--background-primary);
    border-radius: 10px;
    width: 100%;
    height: 100vh;
    @include flex-formatting(column, center, flex-start);
    overflow: auto;

    .loading-container{
        padding: 30px;
    }

    .container-cards {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .card {
            width: 410px;
            background: var(--widget-background);
            color: var(--font-color);
            .avatar-name {
                display: flex;
                align-items: center;
                gap: 10px;

                .img-user {
                    border-radius: 50%;
                    width: 100px;
                }
            }

            .card-body {
                .info {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    &.not-clicked{
                        cursor: default;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}